* {
  font-family: "VT323", monospace;
}

.gameOver {
  opacity: 1;
}

.message {
  display: none;
  margin: 0 175px;
}

.canvas {
  height: 300px;
  width: 600px;
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
}

header {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
}

.pickFrom {
  height: 300px;
  width: 100px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dropZone,
.orderZone {
  width: 200px;
  height: 100px;
  background-color: darkblue;
  border: 5px dotted black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .canvas {
  background-image: url(Pictures/Board.png);
  background-repeat: no-repeat;
  background-size: 70%; 
}*/

.draggable.dragging {
  opacity: 0.5;
}

.randomItem {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  margin: 10px;
}

.enterOrder,
.startGame {
  height: 30px;
  width: 40px;
  font-size: 10px;
  background-color: turquoise;
}

/* SELECT ALL ITEMS THAT START WITH ITEM */

[class^="item"] {
  width: 30px;
  height: 30px;
  background-color: crimson;
  border: 2px solid black;
  margin: 10px;
}

.item1 {
  background-image: url(Pictures/Burger.png);
  background-size: 100%;
}

.item2 {
  background-image: url(Pictures/Cake2.png);
  background-size: 100%;
}
.item3 {
  background-image: url(Pictures/Donut2.png);
  background-size: 100%;
}
.item4 {
  background-image: url(Pictures/Pizza.png);
  background-size: 100%;
}

.item5 {
  background-image: url(Pictures/Icecream.png);
  background-size: 100%;
}

.item6 {
  background-image: url(Pictures/Cookie.png);
  background-size: 100%;
}
.item7 {
  background-image: url(Pictures/Donut.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.item8 {
  background-image: url(Pictures/Watermelon.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.item9 {
  background-image: url(Pictures/Hotdog.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.item10 {
  background-image: url(Pictures/Magnum.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
