* {
  font-family: "VT323", monospace;
}

.message {
  display: none;
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: pink;
  top: 200px;
  left: 100px;
  opacity: 1;
  text-align: center;
  font-size: 2em;
}

.gameOver {
  opacity: 1;
}

.canvas {
  height: 400px;
  width: 700px;
  background-image: url(./Pictures/Background.png);
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

.upper-bar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.customer {
  margin: 0;
  height: 70px;
  width: 60px;
  background-image: url(./Pictures/Woman.png);
  background-size: cover;
}

.orderZone {
  background-image: url(./Pictures/Order\ 2.png);
  height: 100px;
  width: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropZoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower-bar {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.dropZone {
  width: 180px;
  height: 100px;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.snacks {
  background-image: url(./Pictures/Shelving3.png);
  width: 200px;
  height: 180px;
  padding: 20px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.freezer {
  background-image: url(./Pictures/Shelving3.png);
  width: 200px;
  height: 180px;
  padding: 20px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.orderZone > p {
  margin: 5px 10px;
}

header {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.draggable.dragging {
  opacity: 0.5;
}

.randomItem {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  margin: 10px;
}

.enterOrder,
.startGame,
.reset {
  height: 30px;
  width: 40px;
  font-size: 10px;
  background-color: turquoise;
}

/* SELECT ALL ITEMS THAT START WITH ITEM */

[class^="item"] {
  width: 30px;
  height: 30px;
  background-color: #f2f3f4;
  border: white 2px solid;
  border-radius: 50%;
  margin: 10px;
}

/* Bakery */

.item1 {
  background-image: url(./Pictures/Cake2.png);
  background-size: 100%;
}
.item2 {
  background-image: url(./Pictures/Donut2.png);
  background-size: 100%;
}
.item3 {
  background-image: url(./Pictures/Cookie.png);
  background-size: 100%;
}
.item4 {
  background-image: url(./Pictures/Donut.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* FastFood */

.item5 {
  background-image: url(./Pictures/Pizza.png);
  background-size: 100%;
}
.item6 {
  background-image: url(./Pictures/Burger.png);
  background-size: 100%;
}

.item7 {
  background-image: url(./Pictures/Hotdog.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Freezer */
.item8 {
  background-image: url(./Pictures/Watermelon.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.item9 {
  background-image: url(./Pictures/Icecream.png);
  background-size: 100%;
}

.item10 {
  background-image: url(./Pictures/Magnum.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.item11 {
  background-image: url(./Pictures/Rocket.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.item12 {
  background-image: url(./Pictures/Icecream2.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.item13 {
  background-image: url(./Pictures/Cake.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.item14 {
  background-image: url(./Pictures/Bottle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.item15 {
  background-image: url(./Pictures/Jaegermeister.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
